{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style2.css' %}">  
</head>
<body>
    <div class="main">
        <div class="container">
            <div class="sin"><p>Already have an account?<span><a href="/connecthub">Login</a></span></p></div> 
            <h1>Sign up</h1>
            <form  method="post" action="/signupfn/"> 
            <div class="inp">  
            {% csrf_token %}     
            <div class="dive"><input type="text" placeholder="Username" name="uname"></div> 
            <div class="dive"><input type="text" placeholder="Fullname" name="fname"></div>
            <div  class="dive"><input type="text" placeholder="Email Address" name="email"></div>
            <div  class="dive"> <input type="password" placeholder="Password" id="password" name="pass1"></div>
            <div class="dive"><input type="password" placeholder="Confirm password" name="pass2"></div>
            <div class="btmain"><button id="btn" class="btn" type="submit" >Sign up</button></div>
            </form>
           <div class="or"><p>Or</p></div> 
         <div class="bt2main"><button id="btn2" type="button" class="btn2" onclick="window.location.href='https://mail.google.com/mail/u/0/'"><svg class="svgf" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="25" height="25" viewBox="0 0 48 48">
            <path fill="#FFC107" d="M43.611,20.083H42V20H24v8h11.303c-1.649,4.657-6.08,8-11.303,8c-6.627,0-12-5.373-12-12c0-6.627,5.373-12,12-12c3.059,0,5.842,1.154,7.961,3.039l5.657-5.657C34.046,6.053,29.268,4,24,4C12.955,4,4,12.955,4,24c0,11.045,8.955,20,20,20c11.045,0,20-8.955,20-20C44,22.659,43.862,21.35,43.611,20.083z"></path><path fill="#FF3D00" d="M6.306,14.691l6.571,4.819C14.655,15.108,18.961,12,24,12c3.059,0,5.842,1.154,7.961,3.039l5.657-5.657C34.046,6.053,29.268,4,24,4C16.318,4,9.656,8.337,6.306,14.691z"></path><path fill="#4CAF50" d="M24,44c5.166,0,9.86-1.977,13.409-5.192l-6.19-5.238C29.211,35.091,26.715,36,24,36c-5.202,0-9.619-3.317-11.283-7.946l-6.522,5.025C9.505,39.556,16.227,44,24,44z"></path><path fill="#1976D2" d="M43.611,20.083H42V20H24v8h11.303c-0.792,2.237-2.231,4.166-4.087,5.571c0.001-0.001,0.002-0.001,0.003-0.002l6.19,5.238C36.971,39.205,44,34,44,24C44,22.659,43.862,21.35,43.611,20.083z"></path>
            </svg>Sign up with Google</button></div>  
        <div class="bt3main"> <button id="btn3" type="button" class="btn3" onclick="window.location.href='https://www.facebook.com/'" > <i id="icon2" class="fa-brands fa-facebook fa-lg" style="color: #4867aa;"></i>Sign up with Facebook</button></div>  
           <div class="part1"><img src="{% static 'images/logo_transparent.png' %}" alt=""></div> 


           
        </div>
    </div>
    {% for j in messages %}

    {% if j.tags == 'error' %}
      <div class="error">
      {{j}}
 </div>
    {% endif %}
 {% endfor %}  
   
</body>
</html>